__pycache__/
*.py[cod]

.venv/
venv/
env/

.ipynb_checkpoints/

# Dataset files
data/raw/*
data/processed/*

# Keep folder placeholders
!data/raw/.gitkeep
!data/processed/.gitkeep

# Trained models
models/*.keras
models/*.h5
models/*.joblib

# Logs
*.log

# IDE files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db